body {
  font-family: "Poppins", Arial, sans-serif!important;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
.aboutBlog {
  font-family: "Playwrite AU QLD", serif !important;
  letter-spacing: 0.2px;
  margin: 0;
}
.blog-detail-hero {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-image: url(./Images/vegeterian/spagetti.jpg);
}
.blogDetailImage{
      width: 150px;
  height: 130px;
  object-fit: cover;
}
.read {
  color: #ff7043;
  cursor: pointer;
}
.read:hover {
  text-decoration: underline;
}
.blogHeading {
  color: rgb(239, 122, 49) !important;
  font-family: "Playwrite AU QLD", serif;
}
.blog-para {
  line-height: 1.8;
  font-family: "Playwrite AU QLD", serif;
}
.info{
    background-color:#f5f2e2;
}
.more{
    background-color:  rgb(250, 250, 250); ;
}
 .author-card {
      background: #f7e0cc;
      width: 350px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }
    .author-card img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }


    .author-card h3 {
      font-style: italic;
      color: #555;;
      font-family: 'Brush Script MT', cursive;
    }

    .author-card p {
      color: #666;
      line-height: 1.6;
    }

 
