<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet" />

<link rel="stylesheet" href="Layout/common.css" />

</head>
<body>

  <!-- Footer -->
  <footer class="footer py-3">
    <div class="container text-center text-white d-flex pt-5">
      <div class="mb-4 col-md-3 text-start">
        <h3 class="fw-bold">E-Recipe Book</h3>
        <p class="footer-tagline">Your daily source for delicious recipes and kitchen inspiration.</p>
      </div>

      <div class="col-sm-6 text-center">
        <div class="footer-links mb-4">
          <a href="homePage.html" class="mx-2">Home</a>
          <a href="category.html" class="mx-2">Recipes</a>
          <a href="favorites.html" class="mx-2">Favorites</a>
          <a href="blog.html" class="mx-2">Blog</a>
          <a href="about.html" class="mx-2">About Us</a>
          <a href="contact.html" class="mx-2">Contact</a>
          <a href="admin-login.html" class="mx-2">Admin Login</a>
        </div>

        <div class="footer-social mb-4">
          <a href="#"><i class="fab fa-facebook-f mx-2"></i></a>
          <a href="#"><i class="fab fa-instagram mx-2"></i></a>
          <a href="#"><i class="fab fa-twitter mx-2"></i></a>
          <a href="#"><i class="fab fa-youtube mx-2"></i></a>
        </div>
      </div>

      <p class="footer-copy mb-0 col-md-3 text-center">
        &copy; 2025 E-Recipe Book.<br />All rights reserved.
      </p>
    </div>
  </footer>

 <script src="Layout/partial.js"></script>
</body>
</html>
